@import 'config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;

    li {
      padding: 1rem 1.5rem;

      a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        padding-bottom: 0.5rem;
        transition: border-bottom 0.5s ease;
        cursor: pointer;

        &:hover {
          border-color: $medium-color;
        }

        &.current {
          border-color: $main-color;
        }
      }
    }
  }
}

#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 8.5rem;
    border-bottom: 3px solid $main-color;
  }
}

#home {
  &-a {
    .specials {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fa {
        color: $main-color;
      }
    }
  }

  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      & > div:nth-child(even) {
        background-color: $medium-color;
      }
    }
  }

  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
      }

      &-icon {
        background-color: $dark-color;
        border-radius: 50%;
        line-height: 60px;
        color: #fff;
        padding: 16px;
        width: 90px;
        height: 90px;
        transition: all 1s;

        &:hover {
          background-color: $main-color;
          width: 100px;
          height: 100px;
          line-height: 70px;

          & > .process-step {
            background-color: $dark-color;
          }
        }
      }

      &-step {
        background-color: $main-color;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 1.2rem;
        transition: all 1s;

        &:hover {
          background-color: $dark-color;
        }
      }

      &-line {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
          content: '';
          position: absolute;
          height: 10px;
          width: 5rem;
          background: $main-color;
          border-radius: 5px;
        }
      }
    }
  }
}

#main-footer {
  background-color: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .social {
    .fab {
      margin-right: 1rem;
      border: 2px solid #fff;
      border-radius: 50%;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background-color: $main-color;
      }
    }
  }
}

#about {
  &-a {
    .about-info {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 1rem;
        border-left: 3px solid $main-color;
      }
    }
  }

  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      border-radius: 15px;
      background-color: $medium-color;
      margin-bottom: 0.5rem;

      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background-color: $main-color;
      }
    }
  }

  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem;
    }
  }

  &-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;

      & > div {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        > p {
          position: relative;
          padding: 40px 0;
          text-align: center;

          &::before {
            content: '"';
            font-size: 100px;
            color: $main-color;
            position: absolute;
            left: 0px;
            line-height: 0.1rem;
          }

          &::after {
            content: '"';
            font-size: 100px;
            color: $main-color;
            position: absolute;
            bottom: 0px;
            line-height: 0.1rem;
            right: 0;
          }
        }

        & > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;

          img {
            width: 200px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

#work {
  &-a {
    .items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      .item {
        position: relative;
        background-color: $main-color;
        overflow: hidden;
        box-shadow: 0 5px 10px 0 rgba($color: #000000, $alpha: 0.3);

        &::after {
          content: '';
          position: absolute;
          display: block;
          background-color: inherit;
          opacity: 0.9;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
          transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
        }

        &-image {
          height: auto;
          transform: translateZ(0);
          display: block;
          transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);

          &::before {
            content: '';
            display: block;
            padding-top: 75%;
            overflow: hidden;
          }

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            line-height: 0;
          }
        }

        &-text {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          text-align: center;
          z-index: 1;
          color: #fff;
          transform: translateY(-20%);
          transition: all 400ms cubic-bezier(0.1, 0.5, 0.8, 1);
          transition-delay: 450ms;
        }

        &-text-wrap {
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
        }

        &-text-title {
          font-size: 2rem;
          padding: 0 1rem;
          margin: 5px 0 0 0;
        }

        &-text-category {
          text-transform: uppercase;
          font-size: 1.2rem;
          opacity: 0.7;
          margin: 0;
        }

        &:hover::after {
          transform: scale(2) translateY(0) translateX(0) rotate(-28deg);
        }

        &:hover .item-image {
          transform: scale(1.2);
        }

        &:hover .item-text {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}

#contact {
  &-a {
    .text-fields {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      input[type='text'],
      input[type='email'],
      textarea {
        width: 90%;
        height: 3rem;
        border: 2px solid $dark-color;
        padding: 1rem;
        transition: all 0.5s ease;

        &:focus {
          border: 2px solid $main-color;
          outline: 1px solid $main-color;
        }
      }

      textarea {
        height: 6rem;
      }
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      & > div {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
      }
    }
  }
}
